<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="user/gets">Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="user/create-document">Create book<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="user/create-user">Create user <span class="sr-only">(current)</span></a>
    </div>
  </div>

</nav>
<div>
  <app-user-details></app-user-details>
</div>
<router-outlet></router-outlet>
